//
//  Secrets.xcconfig
//  CookBook
//
//  Created by Caleb Stanberry on 12/21/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SPOONACULAR_API_KEY=c00c4a1b94a848748a18b1c182ccd3af
MISTRAL_API_KEY=oXSbMKTG3laBIa3viyBwkw5o1EaJ9dkt
APP_TOKEN=nvdiaonvdjineawoinfadnofnvsda1890431
